footer.footer#footer 
  .container.footer__container
    .footer__top
      .footer__logo
         img(src="../img/Logo-light.svg" alt="Perfomante" draggable="false")
      nav.nav.nav--footer.footer__nav
        ul.nav__container
          li.nav__item.nav__item--heading Links
          li.nav__item
            a.nav__link.link(href="https://perfomante.io/cntct") Info for clients
          li.nav__item
            a.nav__link.link(href="https://perfomante.io/blog") Blog
          li.nav__item
            a.nav__link.link(href="https://perfomante.io/privacy") Privacy Policy
          li.nav__item
            a.nav__link.link(href="https://perfomante.io/cookies") Cookie Policy
          li.nav__item
            a.nav__link.link(href="https://perfomante.io/gdpr") GDPR
        ul.nav__container
          li.nav__item.nav__item--heading Partners
          li.nav__item
            a.nav__link.link(href="https://qonversion.io/?utm_source=perfomante&utm_medium=partners&utm_campaign=footer" target="_blank" ) Qonversion
          li.nav__item
            a.nav__link.link(href="https://asodesk.com/" target="_blank") ASOdesk
    .footer__bottom
      .footer__copyright
        p
          a.link.footer-link(href="mailto:hi@perfomante.io")
             img(src="../img/mail.svg" alt="") 
             | hi@perfomante.io 
        p &#169; 2021 All Rights Reserved. Perfomante &#171;LLC&#187;.
        p HQ in Minsk, Belarus
    .payment__section
      img(src="../img/payment.png", alt="")