header.header.portfolio-header
  .header__wrap
    .logo
      img(src='./img/logo.svg', alt='Perfomante logo')
    input#burger(type='checkbox')
    label.burger(for='burger')
      img.burger__menu(src='./img/burger.svg', alt='burger')
      .cross
    .menu
      nav.navigation
        ul.navigation__container
          li.navigation__item.dropdown-container
            button.dropdown-button
              | Services
              svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M3 4.28564L5.67747 7.34561C5.84821 7.54075 6.15179 7.54075 6.32253 7.34561L9 4.28564', stroke='#22221F', stroke-width='0.998571', stroke-linecap='round', stroke-linejoin='round')
            ul.dropdown
              li.dropdown__item
                a.link.black(href='./#ads2d')
                  | 2d video ads
              li.dropdown__item
                a.link.black(href='./#ads3d')
                  | 3d video ads
              li.dropdown__item
                a.link.black(href='./#ugcads')
                  | UGC video ads
          li.navigation__item
            a.link.black(href='./#cases') Cases
          li.navigation__item
            a.link.black.active(href='#') Portfolio
          li.navigation__item
            a.link.black(href='../#team') About us
          li.navigation__item
            a.link.black(target='_blank', href='https://perfomante.io/blog/?utm_source=main', onclick="gtag('event', 'Main_header_Blog')") Blog
      nav.header-buttons
        a.link.black(target='_blank', href='https://app.perfomante.io/login') Sign in
        button.outlined.open-calendly(data-seo-target='demoClick')
          | Request demo