<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Marketing videos that perform and attract users">
<meta name="keywords" content="transform, images, videos, mobile, video, ads, advertisement, short, 15, seconds">
<meta property="og:title" content="Perfomante">
<meta property="og:description" content="Marketing videos that perform and attract user">
<meta property="og:url" content="https://perfomante.io/">
<meta property="og:type" content="website">
<meta property="og:image" content="./img/meta_img.jpg">
<meta name="og:image" content="./img/meta_img.jpg">
<meta property="og:site_name" content="Perfomante">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Perfomante">
<meta name="twitter:title" content="Perfomante">
<meta name="twitter:description" content="Marketing videos that perform and attract user">
<meta name="twitter:image" content="./img/meta_img.jpg">
<meta property="twitter:image" content="./img/meta_img.jpg">
<meta name="twitter:image:src" content="./img/meta_img.jpg">
<meta itemprop="name" content="Perfomante">
<meta itemprop="description" content="Marketing videos that perform and attract user">
<meta itemprop="image" content="./img/meta_img.jpg">
link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet")
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="css/style.min.css">
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://player.vimeo.com/api/player.js"></script>

<title>Perfomante</title>
