extends base/_layout
block content
  .inner-page
    main.cases-page.inner-main
      section.case-page__main
        .container
          h4 CASE STUDY
          .case-main__logo
            img(src="./img/logos/1.svg", alt="")
          .case-main__list
            .case-main__item.case-main__info
              .case-main__title 
                h2 Case Study: ElliotLee Estate Agents
              p.case-main__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
            .case-main__item.case-main__precent
              .case-banner__precent
                | 50% 
                img(src="./img/precent.svg", alt="")
              h3.case-banner__small-title more efficient (lower) Cost Per Lead 
              p.case-banner__small-description 30 creative assets procuced
    section.case
      .container
        .case__slider-block
          .case__text
            .case__text-group 
              h2 Chellenges
              p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
            .case__text-group 
              h2 Perfomante solution
              p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
          .case__slider-wrap
            .case__slider
              .swiper-wrapper 
                .swiper-slide
                  .vimeo__panel 
                    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe class="vimeo__iframe" src="https://player.vimeo.com/video/595353526?h=c36fcc2945" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    .video__poster(style="background-image: url(./img/2d-videos/2d18.jpg")
                    .video__play
                      <svg width="17" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.608c0-1.57 1.728-2.528 3.06-1.696l10.226 6.392a2 2 0 010 3.392L4.06 18.087C2.728 18.92 1 17.962 1 16.392V3.607z" stroke="#fff" stroke-width="2"/></svg>
                      | Play
                .swiper-slide
                  .vimeo__panel 
                    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe class="vimeo__iframe" src="https://player.vimeo.com/video/595353526?h=c36fcc2945" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    .video__poster(style="background-image: url(./img/2d-videos/2d18.jpg")
                    .video__play
                      <svg width="17" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.608c0-1.57 1.728-2.528 3.06-1.696l10.226 6.392a2 2 0 010 3.392L4.06 18.087C2.728 18.92 1 17.962 1 16.392V3.607z" stroke="#fff" stroke-width="2"/></svg>
                      | Play
                .swiper-slide
                  .vimeo__panel 
                    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe class="vimeo__iframe" src="https://player.vimeo.com/video/595353526?h=c36fcc2945" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    .video__poster(style="background-image: url(./img/2d-videos/2d18.jpg")
                    .video__play
                      <svg width="17" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.608c0-1.57 1.728-2.528 3.06-1.696l10.226 6.392a2 2 0 010 3.392L4.06 18.087C2.728 18.92 1 17.962 1 16.392V3.607z" stroke="#fff" stroke-width="2"/></svg>
                      | Play
                .swiper-slide
                  .vimeo__panel 
                    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe class="vimeo__iframe" src="https://player.vimeo.com/video/595353526?h=c36fcc2945" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    .video__poster(style="background-image: url(./img/2d-videos/2d18.jpg")
                    .video__play
                      <svg width="17" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.608c0-1.57 1.728-2.528 3.06-1.696l10.226 6.392a2 2 0 010 3.392L4.06 18.087C2.728 18.92 1 17.962 1 16.392V3.607z" stroke="#fff" stroke-width="2"/></svg>
                      | Play
                .swiper-slide
                  .vimeo__panel 
                    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe class="vimeo__iframe" src="https://player.vimeo.com/video/595353526?h=c36fcc2945" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    .video__poster(style="background-image: url(./img/2d-videos/2d18.jpg")
                    .video__play
                      <svg width="17" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.608c0-1.57 1.728-2.528 3.06-1.696l10.226 6.392a2 2 0 010 3.392L4.06 18.087C2.728 18.92 1 17.962 1 16.392V3.607z" stroke="#fff" stroke-width="2"/></svg>
                      | Play
              .swiper-pagination
    section.case-castomer
      .container
        .case-castomer__panel
          .case-castomer__left
            h2 Сustomer testimonial
            p For my taste - you have experience working with creatives and purchasing, you understand what the user wants in advertising on Facebook, this is reflected in the videos. We like the ideas and the focus of where we're going.
            .castomer__user
              .castomer__user-avatar
                img(src="./img/Avatar1.jpg", alt="")
              .castomer__user-info
                .castomer__user-name Irina Kirichenko 
                .castomer__user-work UA manager
          .case-castomer__right
            .case-castomer__list
              .case-castomer__item 22 video ads total tested
              .case-castomer__item 2d + UGC video ads packs
              .case-castomer__item 10 videos exceeded benchmarks
            .case-castomer__item-pic
              img(src="./img/castomer.png", alt="")
    +offer('Get personalized offer')(class="--gray")
    section.cases-recomendations
      .container
        h2 View more Case Studies
        .cases__list 
          +case-link('case.html', './img/logos/1.svg', '50%', '2D VIDEO', 'Case Study - 2')
          +case-link('case.html', './img/logos/2.svg', '50%', '2D VIDEO', 'Case Study - 2')
          +case-link('case.html', './img/logos/3.svg', '50%', '2D VIDEO', 'Case Study - 2')