@import "vars";
@import "mixin";

@include font("GT Flexa Trial", "GT-Flexa-Standard-Regular", "400", "normal");
@include font("Neue Montreal", "NeueMontreal-Bold", "bold", "normal");

html {
    overflow: auto;
    max-width: 100vw;
}

body {
    font-family: "GT Flexa Trial", sans-serif;
    font-size: 16px;
    color: $text-main;
    height: auto !important;
    overflow: hidden !important;
    width: 100%;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    font-family: "Neue Montreal", sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}

h2{
    font-family: "Neue Montreal", sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 35px;
}

h5,
.bold-header {
    font-family: "Neue Montreal", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

section {
    padding: 0 24px;
    box-sizing: border-box;
}

h4 {
    font-size: 16px;
    line-height: 32px;
    color: $ui-green;
    letter-spacing: 0.08em;
}

.paragraph {
    font-size: 20px;
    line-height: 32px;
}

.aditional-paragraph {
    font-size: 16px;
    line-height: 28px;
}

h3 {
    font-family: "Neue Montreal", sans-serif;
    font-size: 44px;
    line-height: 56px;
    font-weight: bold;
}

.section-header {
    h3 {
        margin: 8px 0;
    }
}

video{
    display: block;
}

@media screen and (max-width: $phone) {
    h1 {
        font-size: 40px;
        line-height: 56px;
    }

    .aditional-paragraph {
        font-size: 16px;
        line-height: 28px;
    }

    h5,
    .bold-header {
        font-size: 20px;
        line-height: 32px;
    }

    h3 {
        font-size: 28px;
        line-height: 40px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 28px;
    }

    h2{
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 22px;
    }
}