.models-form {

    background-color: white;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    flex: 1;

    .hidden {
        display: none;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 40px;
        width: 100%;
        background-color: #F8FAFB;
        margin: 0 auto;
        border-radius: 2rem;
        align-self: center;
        flex-direction: column;

        .form-group {
            position: relative;
            margin-top: 2rem;
        }

        h2 {
            margin: 0 auto 8px;
        }

        input[type='text'],
        textarea {
            // height: 48px;
            color: #000000;
            padding: 10px 15px;
            background: #FFFFFF;
            border: 1px solid #DFE3E8;
            box-sizing: border-box;
            border-radius: 18px;
            transition: border-color .2s ease-in-out;
            outline: none !important;
            box-shadow: none !important;
            -webkit-appearance: none;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;

            &:focus {
                border: 1px solid $ui-green;
            }

            &::placeholder {
                color: #B5BDC6;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            }
        }

        .input-email {
            margin-bottom: 0 !important;
        }

        input[type='checkbox'],
        .radio {
            display: none;
        }

        input[type='checkbox']+label {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3rem;
            padding: 10px 15px;
            background: #FFFFFF;
            box-shadow: 0 10px 20px rgba(67, 76, 100, 0.1);
            border-radius: 1rem;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 800;
            letter-spacing: 0.02em;
            will-change: background-color, color;
            transition: background-color .2s linear, color .2s linear, border-radius .05s linear;

            svg {
                transition: transform .2s linear;
            }
        }

        input[type='checkbox']:checked+label {
            background-color: $ui-green;
            color: $ui-white;
            //z-index: 10;
            border-radius: 1rem 1rem 0 0;

            &.open-top {
                border-radius: 0 0 1rem 1rem;
            }

            svg {
                transform: rotate(180deg);

                path {
                    fill: $ui-white;
                }
            }

            &:after {
                position: fixed;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        .creatives-checkbox:checked~.radio__creatives {
            display: flex;
        }

        input[type='radio']:checked+label {
            color: #303041;
        }

        .radio {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            flex-direction: column;
            padding: 15px 15px;
            background-color: $ui-white;
            border-radius: 0 0 1rem 1rem;
            box-shadow: 0 10px 20px rgba(67, 76, 100, 0.1);
            transform: translate(0, 100%);
            z-index: 9;

            &_open-top {
                bottom: calc(100% - 1.8rem);
                transform: translate(0, 0);
                border-radius: 1rem 1rem 0 0;
            }

            input {
                display: none;
            }

            label:not(:last-of-type) {
                margin-bottom: 1.5rem;
            }

            label {
                font-weight: bold;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #B5BDC6;
                position: relative;
                cursor: pointer;
                text-align: left;

                p,
                span {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        textarea {
            height: 150px;
            margin-top: 2rem;
            resize: none;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
            }

            &:focus {
                border: 1px solid $ui-green;
            }

            &::placeholder {
                color: #B5BDC6;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            }
        }

        button {
            margin-top: 1rem;
            background: $ui-green;
            border: 2px solid $ui-green;
            box-sizing: border-box;
            border-radius: 20px;
            outline: none;
            height: 40px;

            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            color: $ui-white;

            display: flex;
            align-self: center;
            justify-content: center;
            width: 200px;
            cursor: pointer;
        }
    }
}