@import 'vars';

button.outlined {
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid $ui-green;
    font-size: 16px;
    color: $ui-green;
    line-height: 2rem;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $ui-green;
        color: $ui-white;
    }
}

button.contained,
button.outlined-dark {
    display: inline-flex;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;

    img {
        width: 48px;
        margin: 3px;
        border-radius: 8px;
    }

    span {
        font-family: 'Neue Montreal', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin: 12px 24px;
    }

    img+span {
        margin: 12px 24px 12px 12px;
    }
}

button.contained {
    background-color: $ui-green;
    color: $ui-white;
    border: 1px solid $ui-green;

    &:hover,
    &:focus {
        background-color: $ui-white;
        color: $ui-white;

        span {
            color: $ui-green;
        }
    }
}

button.outlined-dark {
    border: 1px solid rgb(83, 83, 83);
    color: $text-main;

    &:hover,
    &:focus {
        background-color: rgba($color: $text-main, $alpha: 0.5);

        span {
            color: $ui-white;
        }
    }
}

@media screen and (max-width: $phone) {
    button.contained,
    button.outlined-dark {

        span {
            font-size: 16px;
            line-height: 24px;
        }

        img {
            width: 32px;
            height: 32px;
            margin: 2px;
        }

        img+span {
            margin: 6px 8px 6px 6px;
        }
    }

    button.contained {
        border: 1px solid $ui-green;
    }
}