$text-main: #22221F;
$text-dark: rgba(34, 34, 31, 0.88);
$text-light: rgba(255, 255, 255, 0.88);
$text-lighter: rgba(255, 255, 255, 0.64);

$ui-green: #337157;
$ui-figure-color: #FDF9F5;
$ui-orange: #E04D18;
$ui-main: #F7E7D4;
$ui-white: #fff;
$ui-blue: #0B89FF;
$ui-crimson: #FB2B6C;
$ui-light-green: #24CD90;
$ui-dark: rgba(255, 255, 255, 0.04);

$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
