@import "reset";
@import "global";
@import "vars";
@import "ui-items";
@import "modals";

@import "pages/portfolio";

@import 'tingle.js/dist/tingle';
@import "@glidejs/glide/dist/css/glide.core.min";

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    transform: rotate(0);
    z-index: 99;

    svg {
        width: 60px;

        &:hover rect:first-child {
            fill-opacity: 0.5;
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
        transform: rotate(360deg);
    }
}

.grecaptcha-badge {
    visibility: hidden;
}

.calendly-overlay .calendly-popup {
    width: 100% !important;
    max-width: initial !important;
    max-height: initial !important;
}

.object-fit {
    object-fit: cover;
    background-repeat: none;
    background-position: 50% 50%;
    background-size: cover;
}

.tingle-modal-box {
    background: none;
    min-width: 600px;
    width: 35%;
}

.tingle-modal__close {
    width: 1.4rem;
    height: 1.4rem;
}

.tingle-modal-box__content {
    overflow: initial !important;
}

@media (max-width: 540px) {
    .tingle-modal__close {
        background-color: rgba($ui-figure-color, 0.1);
    }

    .tingle-modal {
        padding-top: 60px !important;
    }

    .tingle-modal-box {
        min-width: 300px;
    }

    .tingle-modal-box__content {
        padding: 3rem 15px;
    }
}

.header {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
    transition: all 300ms;
    z-index: 999;

    &__wrap {
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.js-sticky {
        position: fixed;
        transform: translateY(0) translateZ(0);
        background-color: rgba(#fff, 0.95);
    }

    .logo {
        width: 230px;
    }

    .header-buttons {
        width: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &__container {
            display: flex;
            align-items: center;
        }

        &__item {
            position: relative;
            padding: 0 16px;
            color: $text-main;

            svg {
                transition: 300ms;
            }
        }
    }

    .dropdown {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        transform-origin: top;
        opacity: 0;
        transform: translateY(100%) scaleY(0);
        transition: all 300ms;
        background-color: $ui-white;
        border-radius: 16px;
        padding: 16px;
        min-width: 350px;
    }

    .dropdown-container {
        padding: 16px;
        cursor: pointer;

        button.active {
            svg {
                transform: rotate(180deg);
                transition: 300ms;
            }

            &~.dropdown {
                opacity: 1;
                transform: translateY(100%) scaleY(1);
            }
        }
    }

    .burger {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(34, 34, 31, 0.24);
        border-radius: 8px;
        z-index: 10;
    }

    .cross {
        position: absolute;
        cursor: pointer;
        display: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 30px;
            height: 2px;
            background-color: $ui-white;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    input {
        display: none;
    }

    .menu {
        flex: 1;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: $laptop) {
        .link.black::after {
            background-color: $ui-white;
        }

        .menu {
            display: none;
            overflow: hidden;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: $text-main, $alpha: 0.95);
            font-size: 24px;

            a {
                color: $ui-white;
            }

            .dropdown-container {
                display: flex;
                flex-direction: column;

                button {
                    color: $ui-white;
                }

                .dropdown {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    position: static;
                    overflow: hidden;
                    min-width: 200px;
                    transform: translateY(0) scaleY(0);
                    background-color: transparent;
                    height: 0;
                    padding: 0;

                    &__item:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }

                button.active~.dropdown {
                    transform: translateY(0px) scaleY(1);
                    height: auto;
                    padding: 16px;
                }
            }

            .navigation {
                &__container {
                    flex-direction: column;
                    justify-content: space-between;
                    height: 50vh;
                    min-height: 200px;
                }

                &__item {
                    color: $ui-white;

                    svg path {
                        stroke: $ui-white;
                    }
                }
            }

            .header-buttons {
                margin-bottom: 50px;

                button.outlined {
                    background: $ui-white;

                    &:hover {
                        background: $ui-green;
                    }
                }
            }
        }

        .burger {
            display: inline-flex;
            cursor: pointer;
        }

        #burger:checked {
            &~.burger .burger__menu {
                display: none;
            }

            &~.menu {
                display: flex;
            }

            &~.burger .cross {
                display: block;
            }
        }
    }
}

.intro {
    height: 800px;
    width: 100%;
    background-color: $ui-main;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__labels {
        display: flex;
        flex-direction: column;
        margin-left: 45px;
        flex: 1;
        position: relative;
        align-self: center;
    }

    .text-item {
        display: flex;
        align-items: center;
        background-color: $ui-white;
        box-shadow: 0px 11px 28px rgba(21, 15, 48, 0.04);
        border-radius: 14px;
        padding: 8px 25px 8px 8px;

        &.first {
            align-self: flex-end;

            .text-item__arrow {
                background-color: rgba($color: $ui-orange, $alpha: 0.12);
            }

            .text-item__text {
                p:first-child {
                    color: $ui-orange;
                }
            }
        }

        &.second {
            margin-top: 90px;
            align-self: flex-start;

            .text-item__arrow {
                background-color: rgba($color: $ui-green, $alpha: 0.12);
            }

            .text-item__text {
                p:first-child {
                    color: $ui-green;
                }
            }
        }

        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 6px;
            margin-right: 9px;
        }

        &__text {
            p:first-child {
                font-size: 13px;
                line-height: 16px;
            }

            p:last-child {
                font-family: "Neue Montreal", sans-serif;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__text {
        min-width: 600px;
        width: 50%;
        z-index: 1;

        p {
            font-size: 24px;
            line-height: 40px;
            margin: 24px 0 40px;
        }
    }

    &__img {
        width: 1800px;
        position: absolute;
        right: -130px;
        bottom: -250px;

        & img {
            width: 100%;
            transform: translateX(20%);

        }
    }

    .mobile-hidden {
        margin: 0;
    }

    @media screen and (max-width: $laptop) {
        height: 700px;

        .container {
            align-items: flex-start;
            flex-direction: column;
        }

        &__text {
            margin-top: 96px;
        }

        &__img {
            width: 160%;
            bottom: -150px;
        }

        &__labels {
            margin-left: 0;
            width: 60%;
            justify-content: space-around;
        }

        .text-item.second {
            margin-top: 0;
        }
    }

    @media screen and (max-width: $tablet) {
        height: 1120px;

        &__img {
            right: auto;
            bottom: -200px;

            & img {
                min-width: 1200px;
                transform: translate(-42%, -15%);
            }
        }

        &__text {
            min-width: auto;
            width: 100%;
        }

        .mobile-hidden {
            display: none;
        }

        .text-item {
            padding: 7px 15px 7px 7px;

            &__text {
                p:first-child {
                    font-size: 10px;
                    line-height: 12px;
                }

                p:last-child {
                    font-family: "Neue Montreal", sans-serif;
                    font-size: 11px;
                    line-height: 16px;
                }
            }
        }

        &__labels {
            margin-top: 100px;
            width: 90%;
            flex: initial;
            height: 200px;
            justify-content: space-around;
        }
    }

    @media screen and (max-width: $phone) {
        height: 950px;

        &__text {
            p {
                font-size: 16px;
                line-height: 28px;
                margin: 24px 0 40px;
            }
        }

        &__img {
            & img {
                min-width: 1100px;
                transform: translate(-50%, -17%);
            }
        }

        &__labels {
            width: 100%;
        }
    }
}

.cta {
    display: flex;
    align-items: center;

    .button-offer {
        margin-right: 24px;

        @media screen and (max-width: $phone) {
            margin-right: 12px;
        }
    }
}

.companies .container {
    display: flex;
    min-height: 152px;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(34, 34, 31, 0.12);

    h2 {
        width: 290px;
        margin-right: 40px;
    }

    .glide {
        width: calc(100% - 330px);
    }

    .company-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &__item {
            padding: 18px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: $tablet) {
        flex-direction: column;

        h2 {
            margin-top: 48px;
            text-align: center;
        }

        .company-list {
            width: 100% !important;
            flex-wrap: wrap;
            align-items: center;
            transform: none !important;
            margin-bottom: 44px;

            &__item {
                width: 50% !important;
                margin: 0 !important;
                box-sizing: border-box;
            }
        }

        .glide {
            width: 100%;
        }
    }
}

.technology .container {
    padding: 96px 0;

    .technology-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 90px;

        &__item {
            max-width: 240px;
        }

        img {
            height: 130px;
            margin-bottom: 32px;
        }
    }

    .text-container {
        width: 60%;
    }

    @media screen and (max-width: $tablet) {
        padding: 32px 0;
        border-bottom: 1px solid rgba(34, 34, 31, 0.12);

        .technology-row {
            flex-direction: column;
            margin-top: 40px;

            &__item {
                max-width: initial;
                width: 100%;
                padding: 20px 0;
            }
        }

        .text-container {
            width: 100%;
        }
    }
}

.services {
    .square {
        position: absolute;
        border-radius: 52px;
        background-color: $ui-figure-color;
        z-index: 0;
    }

    .square-1 {
        height: 550px;
        width: 550px;
        left: -100px;
        top: 0;
    }

    .square-2 {
        height: 320px;
        width: 550px;
        right: -100px;
        top: 32%;
    }

    .square-3 {
        height: 320px;
        width: 600px;
        left: -100px;
        top: 68%;
    }

    .section-header {
        z-index: 2;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 64px 15px;
        border-bottom: 1px solid rgba(34, 34, 31, 0.12);
    }

    .text-container {
        width: 55%;
        align-self: flex-end;
        z-index: 1;
        margin-bottom: 30px;
    }

    .video__player {
        &+.description .desc-button[data-role=pause] {
            display: none;
        }

        &.active+.description .desc-button[data-role=play] {
            display: none;
        }

        &.active+.description .desc-button[data-role=pause] {
            display: flex;
        }
    }

    .desc-button {
        display: flex;
        align-items: center;

        img {
            width: 20px;
            margin-right: 3px;
        }

        span {
            font-family: "Neue Montreal", sans-serif;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .ads {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 1;
        padding-top: 88px;
        margin: -36px 0 32px;

        .link {
            align-self: flex-end;
        }

        &__video {
            position: relative;

            &.inline {
                .video {
                    flex-wrap: wrap;

                    &__wrap {
                        height: auto;
                    }
                }

                .glide__bullets {
                    display: none;
                }
            }

            video {
                width: 100%;

                &.active~.controller {
                    &[data-role=pause] {
                        display: inline-flex;
                    }

                    &[data-role=play] {
                        display: none;
                    }
                }
            }

            .controller {
                position: absolute;
                display: inline-flex;
                align-items: center;
                padding: 0 12px;
                background: rgba(34, 34, 31, 0.24);
                color: $ui-white;
                border-radius: 32px;
                bottom: 32px;
                left: 32px;
                font-family: 'Neue Montreal', sans-serif;
                font-size: 14px;
                line-height: 32px;

                &[data-role=pause] {
                    display: none;
                }
            }
        }

        &__text {
            color: $text-dark;
        }
    }

    @media screen and (max-width: $tablet) {
        .section-header {
            width: 100%;
            margin: 0;
            z-index: 2;
        }

        .square {
            display: none;
        }

        .ads {
            flex-direction: column;
            margin: 0;

            .video {
                gap: 0;

                &__wrap {
                    min-width: 250px;
                    max-width: 550px;
                }
            }

            &__text {
                width: 100%;
            }

            .link {
                align-self: flex-start;
            }

            &__video {
                width: 100%;
                margin: 0;

                .controller {
                    bottom: 24px;
                    left: 24px;
                }
            }

            .aditional-paragraph {
                margin-bottom: 20px;
            }
        }

        .container {
            padding: 32px 0;

            :nth-of-type(4) {
                flex-direction: column-reverse;
            }
        }
    }
}

.touch-with {
    .container {
        height: 700px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .close {
        display: none;
    }

    #calendly_toggle {
        display: none;
    }

    .calendly--open {
        .close {
            display: inline;
        }

        .open {
            display: none;
        }
    }

    #calendly {
        position: relative;
        height: 100%;
        flex: 1;
        width: 100%;
    }

    .paragraph {
        width: 400px;
    }

    .cta {
        margin-top: 48px;
    }

    .mobile-hidden {
        margin: 0;
    }

    @media screen and (max-width: 1096px) {
        .container {
            height: 700px;
        }
    }

    @media screen and (max-width: $phone) {
        .container.calendly--open {
            height: 856px;

            #calendly {
                display: block;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        .mobile-hidden {
            display: none;
        }

        .container.calendly--open {
            height: 1020px;

            #calendly {
                display: block;
            }
        }

        .container {
            height: auto;
            background: none;
            padding: 32px 0;
            flex-direction: column;
        }

        #calendly {
            padding-top: 10px;
            display: none;
        }

        #calendly_toggle {
            display: inline-flex;
        }

        .paragraph {
            width: 100%;
        }
    }
}

.reviews {
    padding: 96px 15px 46px;
    background-color: $ui-figure-color;

    .glide {

        &__track,
        &__slides {
            overflow: initial;
        }

        &__slide {
            opacity: 0;
            visibility: hidden;
            transition: 0ms;

            .customer {
                &__about {
                    .quote {
                        transform: translateX(-100px);
                        transition: transform 0.5s;
                    }

                    .paragraph,
                    .aditional-paragraph {
                        transform: translateX(-100px);
                        transition: transform 1s;
                    }
                }

                &__info {
                    max-width: 30%;
                    background: $ui-white;
                    border-radius: 24px;
                    padding: 24px;

                    display: flex;
                    flex-direction: column;

                    img {
                        width: 100%;
                        transition: 1s;
                        opacity: 0;
                    }

                    .benefits {
                        font-size: 35px;
                        line-height: 36px;
                    }

                    .count {
                        font-size: 18px;
                        line-height: 22px;
                        margin: 24px 0;
                    }

                    button {
                        margin-left: auto;
                    }
                }
            }

            .client {
                display: flex;

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    margin-right: 20px;
                    transition: 1s;
                    opacity: 0;
                }
            }

            &--active {
                opacity: 1;
                visibility: visible;
                transition: opacity 1s;
                .client img {
                    opacity: 1 !important;
                }

                .customer {

                    &__about .paragraph,
                    &__about .aditional-paragraph,
                    &__about .quote,
                    &__about img {
                        transform: translate(0);
                    }

                    &__info img {
                        opacity: 1 !important;
                    }

                    &__img {
                        &>img {
                            transform: translateY(0);
                        }

                        .achievement {
                            transform: translate(50px, -50px);
                        }
                    }
                }
            }
        }
    }

    .quote {
        font-family: "Neue Montreal", sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .company {
        margin-bottom: 32px;

        &__name {
            height: 24px;

            &[alt="avatarify"],
            &[alt="puzzle point"] {
                height: 40px;
                border-radius: 6px;
            }
        }
    }

    .customer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img {
            width: 40%;

            &>img,
            .achievement {
                width: calc(100% - 50px);
            }
        }

        &__about {
            flex: 1;
            width: 60%;
            margin: 0 5% 60px 0;

            .paragraph {
                font-family: "Neue Montreal", sans-serif;
            }
        }
    }

    .achievement {
        padding: 25px;
        background-color: $ui-white;
        box-shadow: 0px 12px 32px rgba(21, 15, 48, 0.04);
        border-radius: 32px;
        transform: translate(50px, -50px);

        &__item {
            display: flex;
            align-items: center;

            .paragraph {
                margin-left: 16px;
            }

            &:not(:last-of-type) {
                margin-bottom: 24px;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .pagination {
            width: 140px;
        }

        .outlined {
            margin-right: 50px;
        }
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: $laptop) {
        padding-top: 32px;

        .customer {
            flex-direction: column-reverse;

            &__info {
                width: auto;
                max-width: 400px !important;
                margin-bottom: 32px;
            }

            &__about {
                width: auto;

                .quote {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

            .paragraph {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        .actions {
            justify-content: flex-start;
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 32px 24px;

        .customer {
            flex-direction: column-reverse;

            &__info,
            &__about {
                width: 100%;
            }

            &__about {
                margin-right: 0;
            }

            .achievement__item img {
                width: 24px;
            }

            &__img {
                .paragraph {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .achievement {
            border-radius: 24px;
            padding: 20px;
        }
    }
}

.price {
    background-color: $ui-main;
    padding: 96px 15px;

    &__header {
        text-align: center;
        max-width: 630px;
        margin: 0 auto;
    }

    &__services {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    .service {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        border-radius: 32px;

        &__img {
            height: 130px;

            img {
                height: 100%;
            }
        }

        &__header {
            border-bottom: 1px solid rgba(34, 34, 31, 0.12);
            padding-bottom: 12px;

            p {
                font-size: 14px;
                line-height: 24px;
            }
        }

        &__benefits {
            padding: 16px 0;
        }

        &__benefit {
            display: flex;
            align-items: center;
            padding: 8px 0;

            img {
                margin-right: 16px;
            }
        }

        &__price {
            padding-top: 20px;

            span {
                font-family: "Neue Montreal", sans-serif;
                font-weight: bold;
                font-size: 64px;
                line-height: 64px;
                color: $ui-green;

                sup {
                    font-family: "GT Flexa Trial", sans-serif;
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            p {
                line-height: 28px;
            }
        }

        .aditional-paragraph {
            margin-top: 16px;
        }

        &:hover {
            background: rgba(34, 34, 31, 0.04);
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 32px 24px;

        &__header {
            text-align: left;
        }

        &__services {
            margin-top: 32px;
            flex-direction: column;
        }
    }
}

.team {
    // background: linear-gradient(to bottom, $text-main 800px, $ui-white 800px 260px);
    background-color: $text-main;
    padding-top: 98px;
    height: 980px;
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        margin: 0 auto;
        width: 50%;
        text-align: center;

        h3,
        .paragraph {
            color: $ui-white;
        }
    }

    &__avatar {
        position: absolute;
        display: flex;
        flex-direction: column;

        &.left {
            right: 75%;
        }

        &.right {
            left: 75%;
        }

        &.tablet {
            display: none;
        }
    }

    &__avatar-row {
        display: flex;

        img {
            width: 88px;
            height: 88px;
            margin: 24px 44px;
            border-radius: 24px;
        }

        &:last-child {
            margin-left: 88px;
        }
    }

    &__promo {
        width: 90%;
        z-index: 2;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: $ui-green;
        color: $ui-white;
        max-width: 1170px;
        position: absolute;
        border-radius: 32px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        padding: 48px 64px 96px;

        h4 {
            color: $ui-white;
        }

        h3 {
            margin: 10px 0;
        }

        .paragraph {
            margin-bottom: 32px;
            color: rgba(255, 255, 255, 0.88);
        }

        button {
            border-color: $ui-white;
            color: $ui-white;
            margin-bottom: 8px;

            &:hover {
                background-color: $ui-white;
                color: $ui-green;
            }
        }

        .aditional-information {
            font-size: 14px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.64);
        }

        .about-system {
            width: 44%;
        }

        .demo {
            position: absolute;
            width: 75%;
            right: -240px;
            top: 32px;
            border-radius: 16px;
        }
    }

    .container {
        height: 100%;
    }

    @media screen and (max-width: $laptop) {
        height: auto;
        padding-top: 32px;
        // background: linear-gradient(to bottom, $text-main 80%, $ui-white 80% 100%);

        &__avatar {
            display: none;
            position: relative;

            &.tablet {
                display: flex;
                width: 75vw;
                min-width: 270px;
                align-items: center;
                margin-bottom: 20px;

                img {
                    min-width: 48px;
                    min-height: 48px;
                    width: 10vw;
                    height: 10vw;
                    margin: 8px 2.5vw;
                    border-radius: 16px;
                }
            }
        }

        &__avatar-row {
            &:last-child {
                align-self: flex-end;
            }

            &:first-child {
                align-self: flex-start;
            }
        }

        &__header {
            margin: 0;
            width: 100%;

            h3,
            .paragraph {
                color: $ui-white;
            }
        }

        &__promo {
            width: auto;
            height: auto;
            max-width: initial;
            position: relative;
            flex-direction: column;
            left: 0;
            border-radius: 32px;
            transform: none;
            padding: 32px 20px 0px;
            border-radius: 24px;
            margin-top: 40px;

            .about-system {
                width: 100%;
            }

            .demo {
                position: relative;
                width: 110%;
                right: auto;
            }
        }
    }
}

.resources {
    padding: 80px 24px;

    &__ideas {
        margin-top: 64px;
    }

    .glide__slides {
        display: flex;
        justify-content: space-between;
    }

    .glide__slide {
        &:nth-of-type(1) .idea {
            margin-right: auto;

            .idea__card {
                background-color: $ui-green;
            }
        }

        &:nth-of-type(2) .idea {
            margin: 0 auto;

            .idea__card {
                background-color: $ui-blue;
            }
        }

        &:nth-of-type(3) .idea {
            margin-left: auto;
            margin-right: 2px;

            .idea__card {
                background-color: $ui-crimson;
            }
        }
    }

    .idea {
        max-width: 340px;
        padding-bottom: 5px;
        flex: 1;

        &__card {
            border-radius: 24px;
            padding: 24px;
            color: $ui-white;
            margin-bottom: 32px;

            h5 {
                margin: 44px 0 60px;
            }
        }

        .paragraph {
            margin: 8px 0;
        }

        button.outlined {
            display: flex;
            align-items: center;
            font-family: "Neue Montreal", sans-serif;
            font-weight: bold;
            font-size: 16px;
            line-height: 32px;

            span {
                margin-left: 4px;
            }

            &:hover {
                path:first-child {
                    fill: $ui-white;
                }

                path {
                    stroke: $ui-white;
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            img {
                width: 154px;
                border-radius: 10px;
            }
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 80px 0;

        .section-header {
            padding: 0 15px;
        }

        .idea {
            margin: 0 auto !important;
        }
    }
}

.offer {
    padding: 0 24px;
    text-align: center;
    color: $ui-white;
    background-color: $text-main;
    position: relative;

    .container {
        padding: 96px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    h3 {
        margin: 0 auto;
        max-width: 770px;
    }

    .cta {
        display: inline-flex;
        margin: 32px auto 0;

        button.outlined-dark {
            color: $ui-white;
        }
    }

    .mobile-hidden {
        margin: 0;
    }

    .square {
        width: 196px;
        height: 196px;
        background-color: $ui-dark;
        border-radius: 24px;
        position: absolute;

        &.left {
            top: -80px;
            left: -90px;
        }

        &.right {
            right: -20px;
            top: -20px;
        }
    }

    @media screen and (max-width: $tablet) {
        text-align: left;

        .container {
            padding: 50px 0;
        }

        h3 {
            font-size: 28px;
            line-height: 40px;
        }

        .square {
            display: none;
        }

        .mobile-hidden {
            display: none;
        }
    }
}

// footer {
//     background-color: $text-main;
//     padding: 96px 24px;

//     .perfomante {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         width: 300px;
//         color: $ui-white;

//         .paragraph {
//             margin: 24px 0;
//             opacity: 0.88;
//         }

//         .aditional-paragraph {
//             color: rgba(255, 255, 255, 0.64);
//         }
//     }

//     .container {
//         display: flex;
//         justify-content: space-between;
//     }

//     .navigation {
//         width: 380px;
//         color: $ui-white;

//         &__row {
//             display: flex;
//             justify-content: space-between;

//             &:first-child {
//                 margin-bottom: 40px;
//             }
//         }

//         &__item {
//             margin-bottom: 12px;
//             font-size: 20px;
//             line-height: 32px;

//             &:not(.title) {
//                 opacity: 0.88;
//             }

//             &.title {
//                 font-family: "Neue Montreal", sans-serif;
//                 font-weight: bold;
//                 font-size: 20px;
//                 line-height: 28px;
//                 margin-bottom: 16px;
//             }
//         }

//         &__column {
//             flex: 1;

//             &:first-child {
//                 margin-right: 70px;
//             }
//         }
//     }

//     @media screen and (max-width: $tablet) {
//         .container {
//             flex-direction: column;
//         }

//         .license {
//             position: absolute;
//             bottom: -70px;
//         }

//         .perfomante {
//             margin-bottom: 24px;
//         }

//         .perfomante,
//         .navigation {
//             width: 100%;
//         }
//     }
// }

.footer {
    overflow: hidden;
    color: $ui-white;
    background-color: $text-main;

    &__container {
        position: relative;
        padding: 96px 24px;
    }

    .footer-link {
        display: inline-flex;
        align-items: center;

        img {
            display: inline-block;
            margin-right: 8px;
        }
    }

    .nav__container:not(:first-of-type) {
        margin-left: 35px;
    }

    &__top {
        position: relative;
        // Above the shade
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    &__logo {
        flex-shrink: 0;
        width: 250px;

        >img {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        padding-left: 5.8rem;
    }

    &__bottom {
        position: relative;
    }

    &__copyright {
        color: rgba(#fff, 0.8);
        line-height: (16/12);
        text-align: center;

        p {
            margin-bottom: 1em;
        }
    }

    .payment__section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .nav {
        &__item {
            margin-bottom: 14px;

            &--heading {
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                opacity: .7;
                letter-spacing: .15em;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        &__nav {
            flex-direction: column;
            text-align: center;
            padding: 0;
        }

        &__logo {
            margin: 30px;
        }

        .nav__container:not(:first-of-type) {
            margin-top: 30px;
            margin-left: 0;
        }

        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__container {
            position: relative;
            padding: 36px 15px;
        }
    }
}


.link {
    position: relative;

    &.black::after {
        background-color: $text-main;
    }

    &::after {
        content: "";
        opacity: 0;
        position: absolute;
        width: 0px;
        height: 1px;
        left: 50%;
        bottom: -5px;
        transition: 0.5s;
        background-color: $ui-white;
    }

    &:hover::after,
    &.active::after {
        opacity: 1;
        width: 100%;
        left: 0;
    }
}

.calendly-overlay {
    background-color: rgba(31, 31, 31, 0.9) !important;
}

.glide__bullets {
    display: flex;
    justify-content: center;
    gap: 10px;

    .glide__bullet {
        height: 14px;
        width: 14px;
        background: #C4C4C4;
        border-radius: 50%;

        &--active {
            background: $ui-green;
        }
    }
}